/* colors */

$tacao: #faab78;
$cashew-cheese: #fcf9be;
$azulado: #251749;
$glamour-white: #fffbeb;
$fireball: #ca2027;
$boatswain: #263159;
$milk-glass: #faf8f1;

/* fonts */

$ff-base: "Lexend", sans-serif;
