:root {
  --primary: #263159;
  --glamour-white: #fffbeb;
  --milk-glass: #faf8f1;
  --tacao: #faab78;
  --azulado: #251749;
  --cashew-cheese: #fcf9be;
  --fireball: #ca2027;
  --phone: 30em;
  --tablet: 48em;
  --desktop: 64em;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--primary);
  font-family: "Lexend", sans-serif;
  color: var(--glamour-white);
  overflow: hidden;
}

.slides-wrapper {
  display: flex;
  gap: 4vmin;
  user-select: none;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: 0 -50%;
}

.spinner::before {
  content: "";
  position: absolute;
  display: block;
  width: 65%;
  aspect-ratio: inherit;
  border-radius: inherit;
  background: var(--primary);
}

.card:hover {
  border-color: rgba(#fff, 1);
  translate: -5px -5px;
}

.card:hover::before {
  translate: 10px 10px;
}

.card::before {
  content: "";
  position: absolute;
  background-color: var(--tacao);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-width: 1px;
  border-style: solid;
  border-color: inherit;
  transition: translate 0.3s linear;
  z-index: -1;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right center;
}

.card div {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  display: grid;
}

.card div button {
  place-self: flex-end;
  margin: 2rem;
}

.heart {
  display: inline-block;
  position: relative;
  width: 0.7em;
  aspect-ratio: 1 / 1;
  background-color: var(--fireball);
  transform: rotate(45deg);
  margin-inline: 0.25em;
}

.heart::before,
.heart::after {
  content: "";
  position: absolute;
  width: inherit;
  aspect-ratio: inherit;
  background-color: inherit;
  border-radius: 50%;
  left: -50%;
  top: 0;
}

.heart::after {
  left: 0;
  top: -50%;
}

.footer-attribution a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: var(--cashew-cheese);
  transition: height 0.25s linear;
}

.footer-attribution a:focus,
.footer-attribution a:hover {
  transition: color 0.2s linear;
  color: var(--azulado);
}

.footer-attribution a:focus::before,
.footer-attribution a:hover::before {
  height: 100%;
}
